#header {
    height: 50px;
    background: #673AB7;
}

#branding h1 {
  color: #FFF
}

a:link,
a:visited {
    color: #10284e;
}

div.breadcrumbs {
  background:#045FB4;
}

.module h2, .module caption, .inline-group h2 {
    background: #673AB7;
}

.button, input[type=submit],input[type=button], .submit-row input, a.button {
  background: #673AB7;
  color: #FFF;
}
