{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="site-content">
  <div class="mdl-grid site-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
      <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">Services</h1>
      </div>
      <div class="mdl-card__media"><img class="article-image" src="{% static 'img/medayor/service.png' %}" border="0" alt="About">
      </div>
    </div>
  </div>
  <!-- <a href="{% url 'contact' %}" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent
 mdl-color-text--accent-contrast mdl-shadow--4dp">
    <i class="material-icons">add</i></a> -->

{% include 'services/list_services.html' %}

  {% endblock %}
